*.so
*.o
config
GPATH
GRTAGS
GSYMS
GTAGS
include/*/*_export.h
app/*
!app/*.c
!app/makefile
!app/config.app
tools/*
!tools/makefile
!tools/config.tools
example/*/
!example/model/
!example/*/*.c
test/test.log
